a[href="#main"] {
    position: absolute;
    top: 0;
    right: 100%;
    display: flex;
    background: #000;
    padding: 1em;
    color: #fff !important;
    z-index: 10;
}

a[href="#main"]:focus {
    right: 0;
    left: 0;
}

.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}